
// FONT COLOR
$color2: #23282d; // main font color
$color3: #FFFFFF;; // half moon
$color4: #FFFFFF;; // hover and active


// BACKGROUND COLOR
$bcg1: #d4d3d4; // background color side menu
$bcg2: #23282d; // main background color


// LAYOUT BREAKPOINTS
$break-mobile: 770px;
$break-narrow: 770px;
$break-normal: 990px;
$break-wide: 1200px;