.app-header {
   height: 100px;
   // background-color: brown;
   background-color: #121212eb;
   color: #FFF;
   position: fixed;
   top: 0;
   display: flex;
   align-items: center;
   width: 100%;
   padding: 10px;
   border-bottom: 1px solid;

   h1 {
      font-size: 40px;
      margin-inline-end: 50px;
      margin-bottom: 0px;
      cursor: pointer;
   }

   nav {
      display: flex;
      gap: 50px;
      cursor: pointer;
      font-size: 20px;
      // color: #262470;

      a {
         // color: #121212;
         color: #FFF;
         text-decoration: none;

         &.active {
            color: #03a9f4;
         }

         svg {
            vertical-align: bottom;
            width: 25px;
            height: 25px;
         }

         &:hover {
            // color: #262470;
            color: #03a9f4;
         }
      }
   }
}