.arrive-filter {
   position: absolute;
   display: flex;
   gap: 3px;
   padding: 10px;
   left: 22%;
   top: 44%;

   @media (max-width: 1000px) {
      left: 10px;
   }

   @media (max-width: 600px) {
      flex-direction: column;
      right: 10px;

   }

   .msg {
      position: absolute;
      display: flex;
      gap: 3px;
      padding: 10px;
      left: 46%;
      top: 80%;

      @media (max-width: 600px) {
         left: unset;
         top: 100%;
      }
   }

  
}