.route-list {
   color: #FFF;

   .gird-conatiner {
      margin-top: 10px;
      overflow-y: scroll;
      overflow-x: hidden;
      height: calc(100vh - 240px);
      display: flex;
      flex-direction: column;
      align-items: center;
   }

}