.route-preview {
   background-color: #fff;
   color: rgb(47, 47, 47);
   border: 1px solid #e2e2e2;
   margin-bottom: 0.5rem;
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
   padding-right: 2rem;
   padding-left: 1rem;
   cursor: pointer;
   border-radius: 6px;
   display: flex;
   justify-content: space-between;
   gap: 10px;
   flex-wrap: wrap;

   &:hover {
      background-color: aliceblue;
   }

   .route-container {
      display: flex;
      gap: 5px;
      align-items: center;
      white-space: nowrap;
      flex-wrap: wrap;

      span{
         font-weight: 600;
      }

      svg {
         height: 30px;
         width: 30px;
      }
   }

   .real-time-container {
      display: flex;
      gap: 12px;
      align-items: center;

      .time-reamain {
         display: flex;
         gap: 2px;
         color: darkgreen;
         line-height: 21px;
      }

      .no-time-reamain {
         display: flex;
         gap: 2px;
      }
   }

   .blink_me {
      animation: blinker 1s linear infinite;
   }

   @keyframes blinker {
      50% {
         opacity: 0;
      }
   }
}


