.route-preview {
   background-color: #262470;
   color: #FFF;
   // color: rgb(47, 47, 47);
   border: 1px solid #e2e2e2;
   margin-bottom: 0.5rem;
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
   padding-right: 2rem;
   padding-left: 1rem;
   cursor: pointer;
   border-radius: 6px;
   display: flex;
   justify-content: space-between;
   gap: 10px;
   flex-wrap: wrap;

   &:hover {
      box-shadow: 0 0 0 0;
   }

   .route-container {
      display: flex;
      gap: 5px;
      align-items: center;
      white-space: nowrap;
      flex-wrap: wrap;

      span {
         font-weight: 600;
      }

      svg {
         height: 30px;
         width: 30px;
      }
   }

   .days {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;

      // .in-schedule-today {
      //    display: flex;
      //    width: 40px;
      //    height: 20px;
      //    color: #FFF;
      //    background-color: darkblue;
      //    border-radius: 5px;
      //    margin-inline-end: 5px;
      //    justify-content: center;
      //    align-items: center;
      //    border: 2px solid gold;
      // }

      // .off-schedule-today {
      //    display: flex;
      //    width: 40px;
      //    height: 20px;
      //    color: #FFF;
      //    background-color: darkgray;
      //    border-radius: 5px;
      //    margin-inline-end: 5px;
      //    justify-content: center;
      //    align-items: center;
      //    border: 2px solid gold;
      // }

      .in-schedule {
         display: flex;
         width: 40px;
         height: 20px;
         color: #FFF;
         background-color: #5eed5e;
         border-radius: 5px;
         margin-inline-end: 5px;
         justify-content: center;
         align-items: center;
      }

      .off-schedule {
         display: flex;
         width: 40px;
         height: 20px;
         color: #FFF;
         background-color: darkgray;
         border-radius: 5px;
         margin-inline-end: 5px;
         justify-content: center;
         align-items: center;
      }

   }

   .real-time-container {
      display: flex;
      gap: 12px;
      align-items: center;

      .time-reamain {
         display: flex;
         gap: 2px;
         color: darkgreen;
         line-height: 21px;
      }

      .no-time-reamain {
         display: flex;
         gap: 2px;
      }
   }

   .blink_me {
      animation: blinker 1s linear infinite;
   }

   @keyframes blinker {
      50% {
         opacity: 0;
      }
   }
}