.route-preview {

   .btn-submit {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      
      &:hover {
         svg {
            color: darkcyan;
         }
      }
      svg {
         width: 40px;
         height: 40px;
         color: #121212
      }
   }
}