.stop-time-preview {
   background-color: #fff;
   color: rgb(47, 47, 47);
   margin-bottom: 0.5rem;
   border-radius: 5px;
   padding: 20px 10px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
   cursor: pointer;

   &:hover {
      background-color: aliceblue;
   }

   .stop-container {
      display: flex;
      gap: 5px;
      align-items: center;

      span {
         font-weight: 600;
      }
   }

   .btn {
      &:hover {
         border: unset !important;
         color: lightslategray
      }
      svg {
         width: 40px;
         height: 40px;
      }
   }
}