.stop-time-preview {
   position: relative;

   max-width: 800px;
   background-color: #fff;
   color: rgb(47, 47, 47);
   border: 1px solid #e2e2e2;
   margin-bottom: 0.5rem;
   padding-top: 1.5rem;
   padding-bottom: 1rem;
   padding-right: 2rem;
   padding-left: 1rem;
   cursor: pointer;
   min-height: 100px;

   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   gap: 10px;

   .btn {
      position: absolute;
      left: 0;
   }
}