.stop-time-list {

   h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.5rem;
   }

   .gird-conatiner {
      margin-top: 10px;
      overflow: scroll;
      height: calc(100vh - 130px);
      display: flex;
      flex-direction: column;
      align-items: center;
   }

}