.stop-time-list {

   h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.5rem;
   }

   .gird-conatiner {
      // display: grid;
      margin-top: 10px;
      overflow: scroll;
      height: 650px;
   }

}