.app-home {
   margin-top: 100px;
   height: calc(100vh - 100px);
   padding: 10px;
   // background-color: brown;
   background-color: #121212eb;
   position: relative;
   background-image: url('../imgs/time-late-icon.svg');
   background-blend-mode: soft-light;
   // background-position: right;
   background-repeat: no-repeat;
   background-size: 350px;
   background-position-y: bottom;
   color: #FFF;

   .title {
      padding-top: 50px;
      padding-inline-start: 120px;

      .image {}

      h1 {
         font-size: 60px;
         font-family: Rubik-BoldItalic;
         width: 445px;

      }

      p {
         font-size: 25px;
         font-family: Rubik-LightItalic;
      }
   }
}