.app-arrive {
   h1 {
      text-align: center;
   }

   .accordion-item {
      color: unset !important;
      background-color: unset !important;
   }

   .accordion-button {
      gap: 10px;
      font-size: rem(26px);
      color: #FFF;
      color: unset !important;
      background-color: unset !important;
   }

   // .accordion-button:not(.collapsed) {
   //    color: #FFF;
   //    font-size: rem(26px);
   //    background-color: unset;
   // }

   .accordion-button.collapsed::after {
      background: url("../imgs/down-arrow.svg");
   }

   .accordion-button:not(.collapsed)::after {
      background: url("../imgs/down-arrow.svg");
   }

   .accordion-header {
      text-align: center;

   }
}