.app-arrive {
   height: 100vh;
   padding: 10px;
   
   h1 {
      text-align: center;
   }

   .nav-tabs .nav-link {
      color: #FFF;

      &.active{
         color: #121212;
      }
   }

   .accordion-item {
      color: unset !important;
      background-color: unset !important;
   }

   .accordion-button {
      gap: 10px;
      font-size: rem(26px);
      color: #FFF;
      color: unset !important;
      background-color: unset !important;
   }

   .accordion-button.collapsed::after {
      background: url("../imgs/down-arrow.svg");
   }

   .accordion-button:not(.collapsed)::after {
      background: url("../imgs/down-arrow.svg");
   }

   .accordion-header {
      text-align: center;

   }
}