.loading-button {

   .button {
      background-color: #262470;
      color: #FFF;
      padding: 14px 25px;
      border: none;
      font-size: 18px;
      cursor: pointer;
      transition: 0.3s ease all;
      box-shadow: 1px 2px 9px 4px rgb(0 0 0 / 30%);
      width: 100px;

      &:focus {
         outline: none;
      }

      &:hover {
         background-color: rgb(64, 59, 59);
      }

      &.clicked {
         // background-color: lightgreen;      
      }
   }
}