$white: #fff;
$blue: #008bf7;
$loader-color: $white;
$loader-bg: $blue;
//inner circle width
$width: 20px;
$offset: 20px;
$border-width: 4px;

//angles
$strat-angle: 90deg;
$end-angle: 145deg;

@mixin sizesq($size) {
   width: $size;
   height: $size;
}

@mixin center-position($position: relative) {
   position: $position;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@mixin left-position {
   top: 60%;
   left: 15%;
   position: absolute;
   transform: translate(-50%, -50%);
}

html {
   box-sizing: border-box;
}

*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

.preloader_container {
   position: fixed;
   width: 30px;
   height: 30px;
   left: 0;
   top: 0;
   background-color: $loader-bg;
   z-index: 10000;
}

#loader {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: block;
}

.outerc {
   @include sizesq($width + $offset);
   @include left-position;
   border: $border-width solid $white;
   border-radius: 50%;
}

.innerc {
   @include sizesq($width);
   @include center-position(absolute);
   background-color: $loader-color;
   border-radius: 50%;
}

.semi {
   background-image: linear-gradient($strat-angle, $loader-bg 50%, transparent 50%), linear-gradient($end-angle, $loader-color 50%, $loader-bg 50%);
   border-radius: 50%;
}

.semi1 {
   @include sizesq($width + 4*$offset);
   @include left-position;

   &:before {
      content: "";
      display: block;
      @include sizesq($width + 4*$offset - 2*$border-width);
      @include center-position(absolute);
      background-color: $loader-bg;
      border-radius: 50%;
   }
}

.semi2 {
   @include sizesq($width + 3*$offset);
   @include left-position;

   &:before {
      content: "";
      display: block;
      @include sizesq($width + 3*$offset - 2*$border-width);
      @include center-position(absolute);
      background-color: $loader-bg;
      border-radius: 50%;
   }
}

.semi3 {
   @include sizesq($width + 2*$offset);
   @include left-position;

   &:before {
      content: "";
      display: block;
      @include sizesq($width + 2*$offset - 2*$border-width);
      @include center-position(absolute);
      background-color: $loader-bg;
      border-radius: 50%;
   }
}

.semi {
   opacity: 0;
   animation: fade 2s infinite;
   animation-name: fade;
}

.animated3 {
   animation-delay: 0;
}

.animated2 {
   animation-delay: 400ms;
}

.animated1 {
   animation-delay: 800ms;
}

@keyframes fade {
   0% {
      opacity: 1;
   }

   100% {
      opactiy: 0;
   }
}